.main_side_bar {
    padding: 2rem 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 0, 83);
    height: 90vh;
}
.main_side_bar li button{
    color: white;
}

.main_side_bar ul li a{
    color: white!important;
    text-decoration: none;
    margin: 2px 2rem;
}
.main_side_bar a span{
    color: white;
}